#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
                &mo 1      &kp F21        &kp F22
                &kp F18    &kp F19        &kp F20
                &kp F17    &kp LA(LG(K))  &kp F16
            >;
        };

        fn_layer { //Layer 1
            display-name = "Fn";
            bindings = <
                &bootloader      &none    &kp PSCRN
                &studio_unlock   &none    &none
                &none            &kp F24  &kp C_PLAY_PAUSE
            >;
        };

    };
};