#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        Base { // Layer 0
            bindings = <
                &mo 2    &kp F21    &kp F22
                &kp F18    &kp F19    &kp F20
                &kp F17    &kp E    &kp F16
            >;
        };

        fn_layer { //Layer 1
            display-name = "Fn";
            bindings = // etc.
                &trans     &none    &none
                &bootloader    &none    &none
                &none    &none    &none
        };

        extra1 { //Layer 2
            status = "reserved";
        };

        extra2 { //Layer 3
            status = "reserved";
        };
    };
 };